body {
    text-align: center;
}

h1 {
    font-size: 40px;
    font-family: cursive;
    font-weight: 300;
}

#app {
    width: 100%;
    height: 800px;
    background-color: cyan;
}

.line {
    height: 6px;
    width: 70px;
    background-color: black;
    margin: 8px auto;
}

#game {
    width: 100%;
    height: 800px;
    background-color: lightcoral;
}

#chatbot {
    width: 100%;
    height: 800px;
    background-color:chartreuse;
}
img{
    transition: transform .2s;
}
img:hover{
  transform: scale(0.9);
}